<section class="choose_floor">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="map">
                    <svg width="0" height="0">
                        <a data-toggle="modal" data-target=".modal1">
                            <polygon points="355 362,355 194,283 189,283 164,175 162,175 365"></polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal2">
                            <polygon points="605 359,605 162,453 162,453 176,355 176,355 361">
                            </polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal3">
                            <polygon points="750 360,750 426,935 431,935 177,753 174,753 165,605 165,605 356">
                            </polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal4">
                            <polygon points="750 678,932 679,932 424,750 425">
                            </polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal5">
                            <polygon points="605 688,605 681,510 679,510 493,750 491,750 691">
                            </polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal6">
                            <polygon points="275 399,275 682,510 681,510 494,465 494,465 402">
                            </polygon>
                        </a>
                    </svg>
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Ffloor_4.jpg?alt=media&token=db558adf-5303-4cbf-a3bf-841058489d70"
                        alt="">
                </div>
            </div>
        </div>
        <div class="modal fade modal1 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_11_type.png?alt=media&token=43c47133-b8d5-4498-ae47-b3572eebcc83"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>4</h4>
                        <h3>rooms quantity</h3>
                        <h4>1</h4>
                        <h3>total space</h3>
                        <h4>54m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>67 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal2 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_22_type.png?alt=media&token=47756692-c5d9-4124-8d03-6ec041504f49"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>4</h4>
                        <h3>rooms quantity</h3>
                        <h4>2</h4>
                        <h3>total space</h3>
                        <h4>85m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>105 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal3 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_33_type.png?alt=media&token=55b56e97-c09a-4a07-b0c4-ffa89b7bff44"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>4</h4>
                        <h3>rooms quantity</h3>
                        <h4>4</h4>
                        <h3>total space</h3>
                        <h4>127m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>150 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal4 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_44_type.png?alt=media&token=19ef10de-6891-4ab6-a1bb-954fdf183d3b"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>4</h4>
                        <h3>rooms quantity</h3>
                        <h4>2</h4>
                        <h3>total space</h3>
                        <h4>72m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>85 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal5 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_55_type.png?alt=media&token=b4cad2d4-a3ad-4209-8990-4dedd8c5cba1"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>4</h4>
                        <h3>rooms quantity</h3>
                        <h4>2</h4>
                        <h3>total space</h3>
                        <h4>77m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>98 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal6 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_66_type.png?alt=media&token=53663586-50a6-4a73-902c-fc9b25a69b12"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>4</h4>
                        <h3>rooms quantity</h3>
                        <h4>3</h4>
                        <h3>total space</h3>
                        <h4>100m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>120 000$</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="choose_floor1">
    <div class="container">
        <div class="row col-lg-12">
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Ffloor_4.jpg?alt=media&token=db558adf-5303-4cbf-a3bf-841058489d70"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Ffloor_4.jpg?alt=media&token=db558adf-5303-4cbf-a3bf-841058489d70"
                    alt="">
            </a>
        </div>
        <div class="col-lg-12 ">
            <div class="contact-form">
                <h1>For more information please fill out the form below</h1>
                <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" action="#" method="post" >
                        <div class="form-group">
                            <input #date="ngModel" [(ngModel)]="formData.name" name="name"  type="text" class="form-control" id="contact-name"
                                placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input #date="ngModel" [(ngModel)]="formData.phone" name="phone" type="number" class="form-control"
                                id="contact-number" placeholder="Your Phone">
                        </div>
                        <div class="form-group">
                            <input #date="ngModel" [(ngModel)]="formData.email" name="email"  type="email" class="form-control"  id="contact-email"
                                placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <textarea #text="ngModel" [(ngModel)]="formData.message" name="message"  class="form-control"  id="message" cols="30"
                                rows="10" placeholder="Your Message"></textarea>
                        </div>
                        <button  type="submit" class="btn south-btn">Send Message</button>
                    </form>
            </div>
        </div>
    </div>
</section>