<footer class="footer-area section-padding-50-0 ">
    <div class="container">
        <div class="row">
            <div class="footer-logo mb-100 ">
                <img routerLink='home'
                    src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Flogo-black.png?alt=media&token=8adf45ff-9f30-431e-ab8c-7a5faf3cf64d"
                    width="260" height="140" alt="">
            </div>
            <div class=" hours x`col-12 col-sm-6 col-xl-3">
                <div class="footer-widget-area mb-100">
                    <div class="weekly-office-hours">
                        <ul>
                            <li class="d-flex align-items-center justify-content-between"><span>Monday -
                                    Friday</span> <span>09 AM - 19 PM</span></li>
                            <li class="d-flex align-items-center justify-content-between"><span>Saturday</span>
                                <span>09 AM - 14 PM</span></li>
                            <li class="d-flex align-items-center justify-content-between"><span>Sunday</span>
                                <span>Closed</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" contacts col-12 col-sm-6 col-xl-3">
                <div class="footer-widget-area mb-100">
                    <div class="address">
                        <h6><img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/phone-call.png?alt=media&token=a915b747-1acd-499c-a980-dbf4e8597d6d"
                                alt=""> +45 677 8993000 223</h6>
                        <h6><img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/envelope.png?alt=media&token=12c472ef-ab62-44a0-b7e0-ddf6cfbdbd25"
                                alt=""> office@template.com</h6>
                        <h6><img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/location.png?alt=media&token=b5506b85-319c-43ce-890d-50c4d65a7b3f"
                                alt=""> Main Str. no 45-46, b3, 56832, Los Angeles, CA
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>