<div class="container-fluid">
  <div class="row">
    <header>
      <a routerLink='home' class="logoo">
        <img class="logo"
          src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Flogo.png?alt=media&token=b3fa3c57-ba53-4711-bcd0-0a923c30c1b2"
          width="146" height="75" alt="">
      </a>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>
      <ul class="menu">
        <a routerLink='home'>Home</a>
        <a routerLink='flats'>Apartments</a>
        <a routerLink='location'>Location</a>
        <a routerLink='documents'>Documentation</a>
        <a routerLink='construction'>Construction progress</a>
        <a routerLink='contact'>Contact</a>
        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>
      </ul>
    </header>
  </div>
</div>
