<section class="choose_floor">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="map">
                    <svg width="0" height="0">
                        <a data-toggle="modal" data-target=".modal1">
                            <polygon points="360 350,360 183,290 185,290 149,178 149,178 355"></polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal2">
                            <polygon
                                points="430 675,430 645,515 646,515 479,470 477,470 388,285 386,285 455,270 455,270 554,280 552,280 674">
                            </polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal3">
                            <polygon points="605 645,605 677,757 678,757 481,518 478,518 642">
                            </polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal4">
                            <polygon points="937 647,937 573,918 574,918 486,937 487,937 416,757 409,757 643">
                            </polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal5">
                            <polygon
                                points="757 347,610 345,610 154,755 154,755 184,935 183,935 254,920 255,920 346,935 346,935 412,757 410">
                            </polygon>
                        </a>
                        <a data-toggle="modal" data-target=".modal6">
                            <polygon points="360 346,360 184,460 183,460 155,610 152,610 349">
                            </polygon>
                        </a>

                    </svg>
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Ffloor_2.jpg?alt=media&token=fa1ed058-dd45-4679-8e41-fe1e15244f02"
                        alt="">
                </div>
            </div>
        </div>
        <div class="modal fade modal1 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_1_typedsdsd.png?alt=media&token=4eb191f1-e3dd-44ad-b48c-6beafddc63fe"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>2</h4>
                        <h3>rooms quantity</h3>
                        <h4>2</h4>
                        <h3>total space</h3>
                        <h4>59m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>70 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal2 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_2_type.png?alt=media&token=5b4d01b2-6358-4cdb-9022-a7b2c5897a6a"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>2</h4>
                        <h3>rooms quantity</h3>
                        <h4>3</h4>
                        <h3>total space</h3>
                        <h4>108m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>120 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal3 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_3_type.png?alt=media&token=2a5ae31b-9190-4215-939f-f9b2e4dd49bd"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>2</h4>
                        <h3>rooms quantity</h3>
                        <h4>2</h4>
                        <h3>total space</h3>
                        <h4>85m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>100 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal4 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_4_type.png?alt=media&token=63cef8c4-5cb2-4e08-b2a5-90e0e768e0e3"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>2</h4>
                        <h3>rooms quantity</h3>
                        <h4>2</h4>
                        <h3>total space</h3>
                        <h4>72m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>85 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal5 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_5_type.png?alt=media&token=8ead55c7-623f-467b-a764-684803d1322e"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>2</h4>
                        <h3>rooms quantity</h3>
                        <h4>4</h4>
                        <h3>total space</h3>
                        <h4>127m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>150 000$</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal6 bd-example-modal-xl" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F_6_type.png?alt=media&token=939f56f4-4472-4e54-bec2-2dc69ef6e997"
                        alt="" height="430px" width="400px">
                    <div class="flat_info">
                        <h3>floor</h3>
                        <h4>2</h4>
                        <h3>rooms quantity</h3>
                        <h4>2</h4>
                        <h3>total space</h3>
                        <h4>85m<sup>2</sup></h4>
                        <h3>price</h3>
                        <h4>100 000$</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choose_floor1">
    <div class="container">
        <div class="row col-lg-12">
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Ffloor_2.jpg?alt=media&token=fa1ed058-dd45-4679-8e41-fe1e15244f02"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Ffloor_2.jpg?alt=media&token=fa1ed058-dd45-4679-8e41-fe1e15244f02"
                    alt="">
            </a>
        </div>
        <div class="col-lg-12 ">
            <div class="contact-form">
                <h1>For more information please fill out the form below</h1>
                <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" action="#" method="post" >
                        <div class="form-group">
                            <input #date="ngModel" [(ngModel)]="formData.name" name="name"  type="text" class="form-control" id="contact-name"
                                placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input #date="ngModel" [(ngModel)]="formData.phone" name="phone" type="number" class="form-control"
                                id="contact-number" placeholder="Your Phone">
                        </div>
                        <div class="form-group">
                            <input #date="ngModel" [(ngModel)]="formData.email" name="email"  type="email" class="form-control"  id="contact-email"
                                placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <textarea #text="ngModel" [(ngModel)]="formData.message" name="message"  class="form-control"  id="message" cols="30"
                                rows="10" placeholder="Your Message"></textarea>
                        </div>
                        <button  type="submit" class="btn south-btn">Send Message</button>
                    </form>
            </div>
        </div>
    </div>
</section>