<section id="Const_progress" class="Const_progress">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 move animated">
                <div class="card " style="width: 18rem;">
                    <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/Construction.jpg?alt=media&token=4344d833-66b2-4cf2-a157-f423cd5b5b36"
                        data-fancybox="gallery">
                        <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/Construction.jpg?alt=media&token=4344d833-66b2-4cf2-a157-f423cd5b5b36"
                            class="card-img-top" alt="..." tabindex="0">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Month,Year</h5>
                        <p class="card-text">Short description of progress and Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Inventore blanditiis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 move animated">
                <div class="card " style="width: 18rem;">
                    <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F45964319_xxl.jpg?alt=media&token=1b5ba77a-2d74-47a2-a86e-678829b9e144"
                        data-fancybox="gallery">
                        <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2F45964319_xxl.jpg?alt=media&token=1b5ba77a-2d74-47a2-a86e-678829b9e144"
                            class="card-img-top" alt="..." tabindex="0">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Month,Year</h5>
                        <p class="card-text">Short description of progress and Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Inventore blanditiis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card move animated" style="width: 18rem;">
                    <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Fadasdasd.jpg?alt=media&token=ceb3b6ef-054d-49f4-a76e-3d4fca2059e1"
                        data-fancybox="gallery">
                        <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Fadasdasd.jpg?alt=media&token=ceb3b6ef-054d-49f4-a76e-3d4fca2059e1"
                            class="card-img-top" alt="..." tabindex="0">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Month,Year</h5>
                        <p class="card-text">Short description of progress and Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Inventore blanditiis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card move animated" style="width: 18rem;">
                    <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Fbuilding-construction-sunset.jpg?alt=media&token=2772d680-0eba-4ec4-a129-6600b9d3eb37"
                        data-fancybox="gallery">
                        <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Fbuilding-construction-sunset.jpg?alt=media&token=2772d680-0eba-4ec4-a129-6600b9d3eb37"
                            class="card-img-top" alt="..." tabindex="0">

                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Month,Year</h5>
                        <p class="card-text">Short description of progress and Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Inventore blanditiis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card move animated" style="width: 18rem;">
                    <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Fconstruction_sector.jpg?alt=media&token=a35cf09e-d4b0-42df-a584-3ceb6814b800"
                        data-fancybox="gallery">

                        <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Fconstruction_sector.jpg?alt=media&token=a35cf09e-d4b0-42df-a584-3ceb6814b800"
                            class="card-img-top" alt="..." tabindex="0">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Month,Year</h5>
                        <p class="card-text">Short description of progress and Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Inventore blanditiis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card move animated" style="width: 18rem;">
                    <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Ftgdghfjkgjl.jpg?alt=media&token=f0d3f524-2c72-4d23-a2dd-a57540ed537f"
                        data-fancybox="gallery">
                        <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2Ftgdghfjkgjl.jpg?alt=media&token=f0d3f524-2c72-4d23-a2dd-a57540ed537f"
                            class="card-img-top" alt="..." tabindex="0">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Month,Year</h5>
                        <p class="card-text">Short description of progress and Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Inventore blanditiis</p>
                    </div>
                </div>
            </div>
            <div *ngFor="let con of construction" class="col-lg-4 move animated">
                <div class="card" style="width: 18rem;">
                    <a [href]="con.image"
                        data-fancybox="gallery">
                        <img [src]="con.image"
                            class="card-img-top" alt="..." tabindex="0">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{con.date}}</h5>
                        <p class="card-text">{{con.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

