<section class="main_photo">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-interval='3000'
        data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                    src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-1.jpg?alt=media&token=f37d5a16-44de-43eb-8baf-d74ae47ab4d0">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-2.jpg?alt=media&token=ab5493b7-c7fc-4e25-9347-23736ae7d07b">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-4.jpg?alt=media&token=7f59ac94-e429-40fc-82b8-848f1102cc4d">
            </div>
        </div>
    </div>
</section>
<section id="about_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="information animated">About us info here </h1>
                    <p class="lead information animated">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Numquam, repellendus ea!
                        Ex iure cum blanditiis perferendis voluptate explicabo reiciendis! Eaque mollitia nisi
                        voluptatem quidem! Velit vitae quibusdam ipsam unde modi.</p>
                    <h2 class="information1 animated">And here </h2>
                    <p class="lead information1 animated">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Numquam, repellendus ea!
                        Ex iure cum blanditiis perferendis voluptate explicabo reiciendis! Eaque mollitia nisi
                        voluptatem quidem! Velit vitae quibusdam ipsam unde modi.</p>
                    <h2 class="information2  animated ">admin page => http://localhost:4200/admin </h2>
                    <p class="lead information2 animated">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Numquam, repellendus ea!
                        Ex iure cum blanditiis perferendis voluptate explicabo reiciendis! Eaque mollitia nisi
                        voluptatem quidem! Velit vitae quibusdam ipsam unde modi.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="advantages" class="advantages animated ">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 move1 animated ">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/loc1.png?alt=media&token=6651cb3c-0687-429b-bc9f-88ad9e3130ea"
                        alt="" class="Adv_icons ">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here
                        </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 move2 animated">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/icons%2Fcar.png?alt=media&token=7d7dac2a-1c8c-4d4e-b6de-487386044ced"
                        alt="" class="Adv_icons">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here
                        </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 move3 animated">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/icons%2Fblueprint.png?alt=media&token=94e8f911-2f73-4887-813d-1e51d2fdd2a6"
                        alt="" class="Adv_icons">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here
                        </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 move1 animated">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/icons%2Fprofits.png?alt=media&token=93d20a13-7993-424b-9029-0d98b6c9abd0"
                        alt="" class="Adv_icons">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here
                        </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 move2 animated ">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/icons%2Fcctv.png?alt=media&token=d7d1e888-c85e-45e9-9b9f-c9b29138c14f"
                        alt="" class="Adv_icons">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here
                        </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 move3 animated">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/icons%2Ftree.png?alt=media&token=29b3b73b-6406-4314-b71e-d48316cf5f6b"
                        alt="" class="Adv_icons">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here
                        </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  move1 animated">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/icons%2Fwedding-planning.png?alt=media&token=966fb691-b021-46c9-9217-8068540bac1f"
                        alt="" class="Adv_icons">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here
                        </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 move2 animated">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/icons%2Flounge.png?alt=media&token=57287dc2-329d-48eb-8c18-ecc8bfdf6c99"
                        alt="" class="Adv_icons">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here
                        </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 move3 animated">
                <div class="feature d-flex">
                    <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/icons%2Fshield.png?alt=media&token=920a8420-c10c-400b-8b6f-d7bd1db07e99"
                        alt="" class="Adv_icons">
                    <div class="feature__block">
                        <h3 class="feature__title">
                            Advantage here </h3>
                        <p class="feature__text">
                            Lorem ipsum dolor sit amet, conseetur adipiscing elit. Praesent vitae eros eget tellus
                            tristique bibendum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Photos">
    <div class="container">
        <div class="row">
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-1.jpg?alt=media&token=f37d5a16-44de-43eb-8baf-d74ae47ab4d0"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-1.jpg?alt=media&token=f37d5a16-44de-43eb-8baf-d74ae47ab4d0"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-2.jpg?alt=media&token=ab5493b7-c7fc-4e25-9347-23736ae7d07b"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-2.jpg?alt=media&token=ab5493b7-c7fc-4e25-9347-23736ae7d07b"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-1.jpg?alt=media&token=f37d5a16-44de-43eb-8baf-d74ae47ab4d0"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-1.jpg?alt=media&token=f37d5a16-44de-43eb-8baf-d74ae47ab4d0"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-4.jpg?alt=media&token=7f59ac94-e429-40fc-82b8-848f1102cc4d"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-4.jpg?alt=media&token=7f59ac94-e429-40fc-82b8-848f1102cc4d"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-5.jpg?alt=media&token=b19c3b42-eb86-48f5-8331-675c12ec985d"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-5.jpg?alt=media&token=b19c3b42-eb86-48f5-8331-675c12ec985d"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-7.jpg?alt=media&token=3def1158-6597-484c-810f-9f835080b50b"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-7.jpg?alt=media&token=3def1158-6597-484c-810f-9f835080b50b"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-9.jpg?alt=media&token=06aa4d2d-7714-41d8-8f84-782007753a7b"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-9.jpg?alt=media&token=06aa4d2d-7714-41d8-8f84-782007753a7b"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-8.jpg?alt=media&token=e27fffef-f9ac-4334-bb72-626b24148a55"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-8.jpg?alt=media&token=e27fffef-f9ac-4334-bb72-626b24148a55"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-3.jpg?alt=media&token=5c854c55-66ef-448a-bd78-3f8e8c2e7d47"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-3.jpg?alt=media&token=5c854c55-66ef-448a-bd78-3f8e8c2e7d47"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-13.jpg?alt=media&token=2ca6c0d5-9e3a-49ae-8d29-6bf834b1e4bc"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-13.jpg?alt=media&token=2ca6c0d5-9e3a-49ae-8d29-6bf834b1e4bc"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-12.jpg?alt=media&token=d3725634-b652-440d-bbc8-98749d467947"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-12.jpg?alt=media&token=d3725634-b652-440d-bbc8-98749d467947"
                    alt="">
            </a>
            <a href="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-13.jpg?alt=media&token=2ca6c0d5-9e3a-49ae-8d29-6bf834b1e4bc"
                data-fancybox="gallery">
                <img src="https://firebasestorage.googleapis.com/v0/b/real-estate-88723.appspot.com/o/images%2FZaliznaVoda-13.jpg?alt=media&token=2ca6c0d5-9e3a-49ae-8d29-6bf834b1e4bc"
                    alt="">
            </a>
            <a *ngFor="let gal of gallery" [href]="gal.image" data-fancybox="gallery">
                <img [src]="gal.image" alt="">
            </a>
        </div>
    </div>
</section>
<div class="map-responsive">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.4444042201885!2d24.029066015239643!3d49.8153121408059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7f175fc7791%3A0xec51bfdf7e5dc466!2z0LLRg9C70LjRhtGPINCf0LDQvdCw0YHQsCDQnNC40YDQvdC-0LPQviwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1569794763767!5m2!1suk!2sua"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<a id="button"></a>